<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<hr>
<br>
<h1>Hamma sahifalar ro'yhati</h1>
<br>
<hr>
<br>
 <a href="/yonalish/">
        <button>yonalish</button>
    </a>
<br><br>
<a href="/xona/">
        <button>xona</button>
    </a>
<br><br>
<a href="/ustoz/">
        <button>ustoz</button>
    </a>
<br><br>
<a href="/guruh/">
        <button>guruh</button>
    </a>
<br><br>
<a href="/oquvchi/">
        <button>oquvchi</button>
    </a>
<br><br>
<a href="/tolov/">
        <button>tolov</button>
    </a>
</body>
</html>