<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br>
<hr>
<br>
<h1>Hamma xonalar ro'yhati</h1>
<br>
<hr>
<br>
{% for xon in xona %}
<h2>Nom:{{xon.nom}}, Raqam:{{xon.raqam}}
    <a href="/xona/{{ xon.id }}/tahrirlash/">
        <button>Tahrirlash</button>
    </a>
    <a href="/xona/{{ xon.id }}/ochir/">
        <button>O'chirish</button>
    </a>
    {% endfor %}
</h2>
<br>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Qo'shish</button>
</form>
</body>
</html>